<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sss.android.sharejesus"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/road_sign"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Romans3_23Activity">
        </activity>
        <activity android:name=".Romans6_23Activity">
        </activity>
        <activity android:name=".John3_3Activity">
        </activity>
        <activity android:name=".John14_6Activity">
        </activity>
        <activity android:name=".Romans10_9Activity">
        </activity>
        <activity android:name=".Corinthians5_15Activity">
        </activity>
        <activity android:name=".Revelation3_20Activity">
        </activity>
    </application>

</manifest>
